@font-face {
  font-family: "iconfont"; /* Project id 2791422 */
  src: url('iconfont.woff2?t=1630890451217') format('woff2'),
       url('iconfont.woff?t=1630890451217') format('woff'),
       url('iconfont.ttf?t=1630890451217') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.45rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yueliang:before {
  content: "\e6b8";
}

.icon-taiyang:before {
  content: "\e7ed";
}

.icon-wulumuqishigongandashujuguanlipingtai-ico-:before {
  content: "\e7eb";
}

.icon-RectangleCopy:before {
  content: "\e6ae";
}

.icon-xianxingtubiao_huabanfuben:before {
  content: "\e62a";
}

.icon-jiantoushang:before {
  content: "\e619";
}

.icon-jiantouxia:before {
  content: "\e61a";
}

.icon-jiantouyou:before {
  content: "\e61b";
}

.icon-jiantouzuo:before {
  content: "\e61c";
}

.icon-jiantou:before {
  content: "\e60d";
}

.icon-mulu-lujing:before {
  content: "\e603";
}

.icon-fanhui:before {
  content: "\e6e3";
}

.icon-zhuye:before {
  content: "\e8a1";
}

